<p style="color: hotpink;">baseof</p>


<style>
    .nav-bar {
        display: flex;
        flex: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        padding: 1%;
        border: groove 2px;
        border-color: black;
      
        
    }
    .nav-block {
        display: flex;
    
    }
    a.nav-block:hover {
        background-color: gray;
    }
    </style>
<html>
<body style="background-color: blanchedalmond;">


<div class="nav-bar">
    {{ range .Site.Menus.main }}
        <a href="{{.URL}}" class="nav-block">{{.Name}}</a>
    {{end}}
</div>
<br>
{{ block "main" . }}

{{ end }}

</body>

</html>
    

